
<html lang="en">
<head>
  <meta charset="UTF-8">
   <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web App</title>
  <link rel="stylesheet" type="text/css" href="bower_components/angular/angular-csp.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
<head>
<body>
    <nav class="navbar navbar-default mainBar" >
      <div  class="container-fluid" ng-controller ="mainController" >
      <div class="navbar-header" >
      <a class=" whiteFont navbar-brand" href="Njs/homeNjs.html">My Web App</a>
      </div>
      <ul class="nav navbar-nav" >
        <li class="active"><a class="whiteFont" href="Njs/homeNjs.html">Home</a></li>
        <li ng-class="{active: activetab=='/about'}"><a class="whiteFont" href="Njs/aboutNjs.html">About</a></li>
        <li ng-class="{active: activetab=='/contact'}"><a class="whiteFont" href="Njs/contactNjs.html">Contact Us</a></li>
      </ul>
    </nav>
    <div class="fluid-container" >
      <div class="row_fluid">
    		<div class="rigt-pane nopadding col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:white;height:auto;">
    			<div class="row text-center" ng-show="hasError && errorMessage">
    				<span style="color:red;font-size:12px;" class="text-center">
    				</span>
    			</div>
    			<form  name="user_form"   action ="http://localhost:8082/userNjs" url="" method ="POST" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style ="margin-top:30px" novalidate>
    				<fieldset>
    					<legend>Enter User Details</legend>
    					<div class="row-fluid">
    						<div class="form-group col-lg-6 col-md-6 col-sm-6" style="margin-top: 2%;">
    							<label for="firstname">First name</label>
    							<input id="firstname" class="form-control " type="text" ng-model="user.firstname" name="firstname" autocomplete="off" ng-pattern="/[\a-zA-Z]+/" required>
    						</div>
    						<div class="form-group col-lg-6 col-md-6 col-sm-6" style="margin-top: 2%;">
    							<label for="lastname">Last name</label>

    							<input id="lastname" class="form-control " type="text" name="lastname" autocomplete="off" ng-pattern="/[\a-zA-Z]+/" required>
    						</div>
    					</div>
    					<div class="row-fluid">
    						<div class="form-group col-lg-6 col-md-6 col-sm-6" style="margin-top: 2%;">
    							<label for="email">Email</label>
    							<input id="email" class="form-control " type="text" ng-model="user.email" name="email" autocomplete="off" required>
    						</div>
    						<div class="form-group col-lg-6 col-md-6 col-sm-6"style="margin-top: 2%;">
    							<label for="phone">Phone</label>
    							<input id="phone" class="form-control " type="phone" name="phone" ng-model="user.phone" autocomplete="off" ng-pattern="/^[0-9\-]*$/" />
    						</div>
    					</div>
              <div class="row-fluid" >
                <div class="form-group col-lg-6 col-md-6 col-sm-6" style="margin-top: 2%;">
                  <label for="password">Password</label>
                  <input id="password" name="password" type="password" ng-model="user.password" class="form-control " autocomplete="off">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6" style="margin-top: 2%;">
                  <label for="password_confirm">Confirm password</label>
                  <input id="password_confirm" name="password_confirm" type="password" class="form-control " autocomplete="off">
                </div>
              </div>
    				</fieldset>

    			<div class="">
    				<span  style="font-size:11px;color:red;position:absolute;top:0.5%;" ></span>
    				<button class="btn btn-default pull-right whiteFont purpleBack"  type="submit"  style="margin:1.5%;">Save Changes</button>
    			</div>
    		</form>
    	</div>
    </div>
    </div>

  </div>


</body>
</html>
